<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Guess The Number</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <h1>Welcome to Guess the Number<h1>

    <h4>Guess a Number between 1 and 100</h4>

    <form action="/update_guess" method="post">
        {% csrf_token %}
        <input type="text" name="user_guess">
        <button type="submit" class="btn btn-primary">Submit Guess</button>
    </form>

    <form action="/clear">
        <button type="submit" class="btn btn-danger">Clear</button>
    </form>

    <form action="/new_number">
        <button type="submit" class="btn btn-warning">Generate New Number</button>
    </form>

    <div id="label-container">
        <label>{{ request.session.display }}</label>
    </div>

    <h5>Clear the program before first guess</h5>

</body>

</html>